.form-group {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.order-by-form {
    width: 65%;
}

.form-group button {
    width: 30%;
}

 .search-container {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
 }

 .photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .justify-center {
    justify-content: center;
 }