.logo {
    height: 100%;
    width: auto;
}

.me-auto {
    align-items: center;
}

.navbar {
    position: fixed!important;
    z-index: 10;
    width: 100%;
    top: 0;
}

@media (max-width: 993px) {
    .vr {
        display: none!important;
    }
}