.card {
    margin: 15px;
    height: 300px;
    width: 300px;
    justify-content: space-evenly;
    /* overflow: hidden; */
}

.img-wrapper {
    width: 100%!important;
    height: 90%!important;
    overflow: hidden;
}

.card-img-top {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}