.pic-footer {
    text-shadow: 5px 3px 6px rgba(150, 150, 150, 1);
    color:aliceblue;
    height: 500px;
}

.footer-bg {
    height: 40%;
    position: relative;
}

.footer-bg img {
    object-fit:scale-down;
    z-index: inherit;
}

.pic-footer span {
    font-size: 8rem;
    position: sticky;
    position: -webkit-sticky; /* Safari   */
    bottom: 200px;
}

@media (max-width: 500px) {
    .pic-footer span {
        font-size: 4rem;
    }
}
@media (max-width: 320px) {
    .pic-footer span {
        font-size: 3rem;
    }
}