.bg-slide-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

@keyframes scroll-grid {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-2420px, 0, 0);
        transform: translate3d(-2420px, 0, 0);
    }
}

.bg-slide {
    background-image: url("../../Img/back-ground-grid.jpg");
    height: 100%;
    background-repeat: repeat-x;
    background-position: center;
    -webkit-animation: scroll-grid 180s linear infinite;
    animation: scroll-grid 180s linear infinite;
    background-size: auto 300px;
    width: 7260px;
}