.info-section > div {
    margin-bottom: 20px;

}

.text-paragraph {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-align:justify;
}

.pic-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 300px;
}

.info-pic {
    object-fit: cover;
}